{% extends "layout.html" %} {% block content %}
<h3>客户组</h3>
<div>
  <ul class="breadcrumb">
    <li>
      <a href="{{url_for('Common.index')}}">Home</a> <span class="divider">/</span>
    </li>
    <li>
      <a href="#">客户组</a>
    </li>
  </ul>
</div>
<a href="{{url_for('Common.group', action='add')}}"><button class="btn btn-large btn-round btn-success"><i class="icon-plus icon-white"></i> 添加客户组</button></a>


<div class="box">
  <div class="box-header well" data-original-title="">
    <h2>组列表</h2>
    <div class="box-icon">
      <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
      <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
    </div>
  </div>
  <div class="box-content">
    <table class="table">
      <thead>
        <tr>
          <th>编号</th>
          <th>组名</th>
          <th>创建者</th>
          <th>修改者</th>
          <th>描述</th>
          <th>创建日期</th>
          <th>修改日期</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {% for group in groups %}
        <tr>
          <td><span class="label label-default">{{ group.id }}</span></td>
          <td class="center">{{ group.name }}</td>
          <td class="center">{{ owner_dict[group.owner] }}</td>
          <td class="center">{{ owner_dict[group.modified_by] }}</td>
          <td class="center">
            <span class="label label-success">{{ group.description }}</span>
          </td>
          <td class="center">{{ group.created }}</td>
          <td class="center">{{ group.updated }}</td>
          <td class="center">
            <a class="btn btn-info" href="{{url_for('Common.group', action='edit', group_id=group.id)}}">
              <i class="icon-edit icon-white"></i>
              编辑
            </a>
            <a class="btn btn-danger" href="{{url_for('Common.group', action='delete', group_id=group.id)}}">
              <i class="icon-trash icon-white"></i>
              删除
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
