<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <title>企业客户关系管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="企业客户关系管理系统, CRM">
    <meta name="author" content="Muhammad Usman">{{ JSGlue.include() }}

    <!-- The styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-cerulean.css') }}">
    <style type="text/css">
      body {
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/charisma-app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui-1.8.21.custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fullcalendar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fullcalendar.print.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chosen.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uniform.default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colorbox.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.cleditor.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.noty.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/noty_theme_default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elfinder.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elfinder.theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.iphone.toggle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/opa-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uploadify.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sweetalert2.css') }}">

    <!-- The fav icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    {% block styles %}{% endblock %}
  </head>

  <body>
    <!-- topbar starts -->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{url_for('Common.index')}}"> <img alt="Charisma Logo" src="{{ url_for('static', filename='img/logo20.png') }}" /> <span>ECRMS</span></a>

          <!-- user dropdown starts -->
          <div class="btn-group pull-right" >
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i><span class="hidden-phone">{{ current_user.name }}</span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="{{url_for('Common.admin_profile', uid=current_user.id)}}"><i class="fa fa-user fa-fw"></i> 用户信息</a>
              </li>
              <li class="divider"></li>
              {% if current_user.is_authenticated %}
              <li><a href="{{url_for('Common.logout')}}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                {% else %}
                <li><a href="{{url_for('Common.login')}}"><i class="fa fa-sign-out fa-fw"></i> Login</a>
                  {% endif %}
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
      <!-- topbar ends -->
      <div class="container-fluid">
        <div class="row-fluid">

          <!-- left menu starts -->
          <div class="span2 main-menu-span">
            <div class="well nav-collapse sidebar-nav">
              <ul class="nav nav-tabs nav-stacked main-menu">
                <li class="nav-header hidden-tablet">Main</li>
                <li><a class="ajax-link" href="{{url_for('Common.index')}}"><i class="icon-home"></i><span class="hidden-tablet"> 仪表盘</span></a></li>
                <li class="nav-header hidden-tablet">客户管理</li>
                <li><a class="ajax-link" href="{{url_for('Common.customer', action='list')}}"><i class="icon-book"></i><span class="hidden-tablet"> 客户信息管理</span></a></li>
                <li><a class="ajax-link" href="{{url_for('Common.group', action='list')}}"><i class="icon-tag"></i><span class="hidden-tablet"> 客户分类</span></a></li>
                <li><a class="ajax-link" href="{{url_for('Common.index')}}"><i class="icon-indent-right"></i><span class="hidden-tablet"> 客户统计视图</span></a></li>
                <li class="nav-header hidden-tablet">系统管理</li>
                <li><a class="ajax-link" href="{{url_for('Common.system_settings')}}"><i class="icon-cog"></i><span class="hidden-tablet"> 系统设置</span></a></li>
                <li><a class="ajax-link" href="{{url_for('Common.user_setting')}}"><i class="icon-user"></i><span class="hidden-tablet"> 用户管理</span></a></li>
                <li><a class="ajax-link" href="{{url_for('Common.permission_setting')}}"><i class="icon-lock"></i><span class="hidden-tablet"> 权限管理</span></a></li>
                <li class="nav-header hidden-tablet">其他管理</li>
                <li><a class="ajax-link" href="{{url_for('Common.sales_opportunity_management')}}"><i class="icon-book"></i><span class="hidden-tablet"> 销售机会信息管理</span></a></li>
                <li><a href="{{url_for('Common.product', action='list')}}"><i class="icon-cog"></i><span class="hidden-tablet"> 产品管理</span></a></li>
              </ul>
            </div><!--/.well -->
          </div><!--/span-->
          <div id="content" class="span10">
            <!-- content starts -->
            <div class="container">
              {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
              <div class="controls">
                {% for category,message in messages %}
                <input class="hidden" type="text" id="swal_text" value="{{ message }}">
                <input class="hidden" type="text" id="swal_type" value="{{ category }}"> {% endfor %}
              </div>
              {% endif %} {% endwith %}
            </div>
            {% block content %}{% endblock %}

          </div><!--/#content.span10-->
        </div><!--/fluid-row-->

        <hr>
        <footer>
          <p class="pull-left">&copy; <a href="#" target="_blank">ECRMS</a> 2017</p>
          <p class="pull-right">Powered by: <a href="#">ECRMS</a></p>
        </footer>

      </div><!--/.fluid-container-->
      <script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery-ui-1.8.21.custom.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap-transition.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap-alert.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap-modal.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap-dropdown.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap-scrollspy.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap-tab.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap-tooltip.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap-popover.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap-button.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap-collapse.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap-carousel.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap-typeahead.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap-tour.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
      <script src="{{ url_for('static', filename='js/fullcalendar.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/excanvas.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.flot.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.flot.pie.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.flot.stack.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.flot.resize.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.chosen.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.uniform.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.colorbox.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.cleditor.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.noty.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.elfinder.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.raty.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.iphone.toggle.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.autogrow-textarea.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.uploadify-3.1.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.history.js') }}"></script>
      <script src="{{ url_for('static', filename='js/charisma.js') }}"></script>
      <!-- sweetAlert2 JavaScript -->
      <script src="{{ url_for('static', filename='js/sweetalert2.js') }}"></script>

      <!-- Some  Custom JavaScript -->
      <script type="text/javascript" src="{{ url_for('static', filename='js/opt.js') }}"></script>

      {% block scripts %} {% endblock %}

    </body>
  </html>
