{% extends "layout.html" %} {% block content %}
<h3>新增机会</h3>
<div>
  <ul class="breadcrumb">
    <li>
      <a href="{{url_for('Common.index')}}">Home</a> <span class="divider">/</span>
    </li>
    <li>
      <a href="{{url_for('Common.opportunity', action='list')}}">销售机会管理</a><span class="divider">/</span>
    </li>
    <li>
      <a href="#">新增机会</a>
    </li>
  </ul>
</div>

<div class="box-content">
  <form class="form-horizontal" role="form" action="{{url_for('Common.opportunity', action="add")}}" method="post">
    {{ form.csrf_token }}
    <fieldset>
      <div class="control-group">
        <label class="control-label">源</label>
        <div class="controls">
          <div class="col-sm-5">
            <select id="source" name="source" class="form-control">
              {% for k,v in sources.iteritems() %}
              <option value={{k}}>{{v}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">名称</label>
        <div class="controls">
          {{ form.name(class="form-control", placeholder="描述") }}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">下次联络人</label>
        <div class="controls">
          <div class="col-sm-5">
            <select id="next_contacts" name="next_contacts" class="form-control">
              {% for owner in owner_dict %}
              <option value={{owner.id}}>{{owner.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">添加</button>
    </fieldset>
  </form>

</div>
{% endblock %}

{% block scripts %}

{% endblock %}
