<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="管理系统后台">
    <meta name="author" content="">

    <title>管理系统后台</title>
    {{ JSGlue.include() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/sb-admin-2.css') }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

    <!-- sweetAlert2 CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sweetalert2.css') }}">

</head>

<body>
    <h1 class="text-center">管理系统</h1>
    <br />
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-offset-3">

                <div class="panel panel-login">

                    <div class="panel-heading">
                        <div class="row">
                          <div class="col-xs-12">
                              <h4 class="text-success">绑定手机</h4>
                          </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="login-form" role="form" action="{{url_for('Common.reset_password')}}" method="post">
                                    {{ form.csrf_token }} {{form.token}}
                                    <div class="form-group">
                                      <div class="input-group ">
                                          <span class="input-group-addon"><i class="fa fa-key fa-2x"></i></span>
                                          {{ form.password(class="form-control", placeholder="请输入密码", autofocus=true, autocomplete=true)}}
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <div class="input-group ">
                                          <span class="input-group-addon"><i class="fa fa-key fa-2x"></i></span>
                                          {{ form.reg_confirm(class="form-control", placeholder="请再次输入密码")}}
                                      </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                {{ form.submit(class="form-control btn btn-login")}}
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
    <div class="controls">
        {% for category,message in messages %}
        <input class="hidden" type="text" id="swal_text" value="{{ message }}">
        <input class="hidden" type="text" id="swal_type" value="{{ category }}"> {% endfor %}
    </div>
    {% endif %} {% endwith %}
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ url_for('static', filename='vendor/metisMenu/metisMenu.min.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='dist/js/sb-admin-2.js') }}"></script>

    <!-- sweetAlert2 JavaScript -->
    <script src="{{ url_for('static', filename='js/sweetalert2.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var swal_text = $('#swal_text').val();
            var swal_type = $('#swal_type').val();
            if (swal_text) {
                swal({
                    title: swal_text,
                    text: '两秒后关闭提示框……',
                    timer: 2000,
                    type: swal_type
                }).then(
                    function(dismiss) {
                        if (dismiss === 'timer') {
                            console.log('I was closed by the timer');
                        }
                    });
            }
        });
    </script>
</body>

</html>
